.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 2px solid white;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 2.5rem;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.titleLink {
  text-decoration: none;
}

.logo {
  margin-left: 2rem;
  padding-bottom: 0.75rem;
}

.subtitle {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 750px) {
  .subtitle {
    margin-left: 0;
  }
}
