.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.tile {
  /* This is a link element - remove the default underline. */
  text-decoration: none;

  border: solid 0.15rem;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.87);

  /* Prevent stretching when there are few. */
  max-width: 350px;
}

.tile:hover {
  background-color: #468c98;
}
